%header.slide
  / Add "slideRight" class to items that move right when viewing Nav Drawer
  %ul#navToggle.burger.slide
    / Add "slideRight" class to items that move right when viewing Nav Drawer
    %li
    %li
    %li
  %h1 Pingpong-o-tron
%nav.slide
  %ul
    %li
      = nav_link("Leaderboard", games_path)
    %li
      = nav_link("Current Game", current_games_path)

    - if session[:id]
      %li
        = nav_link( "Play!", join_games_path, matchmaking_games_path ) 
      %li
        = nav_link( "Sign Out", signout_path ) 
    - else
      %li
        = nav_link("Log In", new_session_path ) 
      %li
        = nav_link("Sign Up", root_path )
      

