= content_for(:head){ javascript_tag 'image_capture' }
= content_for(:head) { stylesheet_link_tag 'players' }
%h2
  Sign-up
= form_for @player, url: { action: "create" } do |f|
  = link_to "Login", login_path, class: 'btn login'
  = f.text_field :name, placeholder: "Your Name"
  = f.file_field :avatar, id:'take-picture', accept:"image/*", name:'player[avatar]'
  = link_to "Sign Up", '#', class: "signup btn primary", onclick:'$("#new_player").submit();'