!!!
%html
  %head
    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}/
    %title= yield(:title)
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Pacifico'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Metal+Mania:400'
    = stylesheet_link_tag "trunk"
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = yield(:head)
  %body#fullscreen
    = render :partial => 'shared/navigation'
    - flash.each do |key, value|
      #note{class: "#{key}"}
        = value
    .content.slide
      = yield
      - if Rails.env.development?
        :javascript
          console.log(#{session.to_json})
    :javascript
      session = #{session.to_json};
